    /* -----------------------flota -------------------------------------*/
    
     @import '../base/condicion';
   

    /* APLICANDO GRID */
    .contenedor2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 250px 2fr;
        background: rgb(2,0,36);
        background: linear-gradient(180deg, rgba(2,0,36,1) 22%, rgba(255,0,0,1) 89%);
    }
    
    .titulo-f{
        margin-top: 130px;
        h2{       
            text-shadow: -6px 9px 3px rgb(146 146 146 / 60%);
            font-size: 55px;
    }
}
/*
    .text-flota{
        @include texto(rgb(172, 241, 11));
        
    }
    */
    .imagenes-f{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 1em;
        width: 90%;
        height: 90vh;
        background-color: #000000;
        padding: 1em;
        margin: auto;
        
    }
    
   .imagenes-f img{
       width: 100%;
       height: 100%;
       object-fit: cover;
       transition: all 250ms;
       border-radius: 15px;

   }
   
   .imagenes-f img:hover{
       transform: scale(1.05);
       z-index: 1;
       box-shadow: 5px 5px 15px #ffffff;
   }
   
   .img1{
       grid-column-start: 1;
       grid-column-end: 3;
       grid-row-start: 1;
       grid-row-end: 3;
   }
   
   .img2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.img3{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.img4{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.img5{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.img6{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

.img7{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}

.img8{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}



.texto-f{
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    @media only screen and (max-width:400px) {
      
        html{
           width: 100vw;
            
       }
       
     .main-flota{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 250px 8fr;
       }

       .imagenes-f{
           display: flex;
           flex-direction: column;
           grid-template-columns: auto;
           grid-template-rows: auto;
        
           
       }
    }

    @media only screen and (min-width:401px) and (max-width:640px) {
        
        .imagenes-f{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(84, 1fr);
            grid-gap: 1em;
            width: 90%;
            background-color: #000000;
            padding: 1em;
            margin: auto;
            
        }
        .img1{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        
        .img2{
         grid-column-start: 3;
         grid-column-end: 5;
         grid-row-start: 1;
         grid-row-end: 3;
     }
     
     .img3{
         grid-column-start: 1;
         grid-column-end: 3;
         grid-row-start: 5;
         grid-row-end: 7;
     }
     
     .img4{
         grid-column-start: 3;
         grid-column-end: 5;
         grid-row-start: 5;
         grid-row-end: 7;
     }
     
     .img5{
         grid-column-start: 1;
         grid-column-end: 3;
         grid-row-start: 3;
         grid-row-end: 5;
     }
     
     .img6{
         grid-column-start: 3;
         grid-column-end: 5;
         grid-row-start: 3;
         grid-row-end: 5;
     }
     
     .img7 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 9;
     }
     .img8 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 9
     
     }
            
        }
    
