/*FOOTER */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(1,2,4);
    background: radial-gradient(circle, rgba(1,2,4,1) 0%, rgba(199,32,32,1) 100%);
    
     

   
    .div-footer2{
    
            a{
                color: white;
                text-decoration: none;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 20px;
            }
            a:hover{
                background-color: #fa0202;
                border-style: solid;
                border-color: white;
                border-width: 1px;
            }
        } 
    }



@media only screen and (max-width:520px) {
    .div-footer2{
        display: none !important;
        
    }
   
}