/* barra superior */

    .barra{
        background-color: red;
        div{
            p{
                margin-left: 10px;
        margin-top: 10px;
        color: white;
        font-size: 12px;
        font-family: sans-serif;
            }
            a{
                text-decoration: none;
                margin-left: 10px;
                margin-top: 10px;
                color: white;
                font-size: 12px;
                font-family: sans-serif;
            }
    
        }
    }
    /* CARRUSEL*/
    .carru{
        background-color: #000000;
    }
