.contenedor3{
    background: rgb(2,0,36);
        background: linear-gradient(179deg, #020024 22%, red 143%)
}


ul.lista-servicios{
    margin-left: 25%;
    list-style-image: url("../Imagenes/tilde5-1.gif");
    /*padding-left: 500px; */   
    color: rgb(25, 56, 4);
    font-family: serif;
    font-size: 30px;
    text-shadow: 2px 0px 0px rgba(238,234,15,0.6);
}


 
.text-serv{
    li{
        text-align: left;
    }
    
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 20px;
    color: white;
    margin-bottom:0;
     
    
}
