/* Principal */
@font-face{
    font-family: 'tipo1';
    src: url('../tipogragia/GoblinOne-Regular.ttf') format('opentype');
}
@font-face{
    font-family: 'tipo2';
    src: url('../tipogragia/BerkshireSwash-Regular.ttf') format('opentype');
}
@font-face{
    font-family: 'tipo3';
    src: url('../tipogragia/AbrilFatface-Regular.ttf') format('opentype');
}
@import '../base/listas';
@import '../base/extend';
@import '../base/condicion';

.contenedor{
    
    background-image: nth($imgFondos, 1);
}

h1{
    text-shadow: nth($colores,2);
    color:nth($colores,1);
    text-align: center;
    text-transform: uppercase;
    font-family: 'tipo1',Verdana, Tahoma, sans-serif;
    font-style: italic;
    font-size: 40px;
    text-decoration: underline;
    text-shadow: -5px 3px 0px rgba(14,13,13,0.6);

}

.principal,.mapa{
    @extend %cuadro;
    
}

.principal{
    p{
        @include texto(black);
    }
}
    h2{
        text-shadow: nth($colores,2);
        color:nth($colores,1);
        font-size: 40px;
        font-family: 'tipo1',Arial, Helvetica, sans-serif;
        text-shadow: -6px 9px 3px rgb(0 0 0 / 60%);
        text-align: center;
    
    }

        
        .iframe{
            width: auto;
            height: auto;
        }
